<p>Player 1: <%= $game.player_1.name %>
<p>You are playing: <%= $game.player_2.name %>
<p>Score:
<br>
<%= $game.player_1.name %>: <%= $game.player_1.score %> - <%= $game.player_2.name %>: <%= $game.player_2.score%>
<p>Choose your weapon:</p>
<form action="/result" method="post">
  <input type="submit" value="Rock" name="user_choice">
  <input type="submit" value="Paper" name="user_choice">
  <input type="submit" value="Scissors" name="user_choice">
</form>